.featureCard {
  display: grid;
  padding: 20px;
  gap: 10px;
  text-align: center;
  background-color: #eaebef;
  cursor: pointer;
}

.cardImg {
  max-width: 100%;
}

.cardTitle {
  font-size: 20px;
  font-weight: bold;
}

.cardText {
  font-size: 14px;
  color: #a6a6a6;
  text-align: center;
}
