.hero {
  width: 100%;
  padding: 20px;
  background: url(../../assets/images/main-banner.jpg) no-repeat;
  background-size: cover;
}

.heroCard {
  background-color: rgb(255, 255, 255, 0.9);
  padding: 20px;
}

.cardTitle {
  font-weight: bold;
  font-size: 26px;
}

.cardSubtitle {
  font-size: 14px;
  color: #bfbfbf;
  margin: 15px 0;
}

.cardText {
  font-size: 14px;
  color: #a6a6a6;
  margin: 15px 0;
}

.btn {
  background-color: rgb(255, 255, 255, 0.9);
  border: 2px solid #535ca1;
  font-weight: bold;
  color: #535ca1;
  padding: 5px;
  transition: 0.3s;
  cursor: pointer;
}

.btn:hover {
  background-color: #535ca1;
  color: white;
}

.textColor {
  color: #535ca1;
}

@media screen and (min-width: 768px) {
  .hero {
    display: flex;
    padding: 40px;
  }

  .heroCard {
    padding: 40px;
  }
}
