.img {
  width: 100%;
}

.title {
  font-size: 20px;
  font-weight: bold;
  margin: 15px 0;
}

.text {
  font-size: 14px;
  color: #a6a6a6;
  margin: 15px 0;
}

.btn {
  background-color: rgb(255, 255, 255, 0.9);
  border: 2px solid #535ca1;
  font-weight: bold;
  color: #535ca1;
  padding: 5px;
  transition: 0.3s;
  cursor: pointer;
}

.btn:hover {
  background-color: #535ca1;
  color: white;
}

@media screen and (min-width: 768px) {
  .left {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  .title {
    margin: 0;
  }
}
