.searchContainer {
  display: grid;
  grid-template-columns: 9fr 1fr;
  height: 70px;
  background-color: #2e2e3a;
  padding: 14px 32px 14px 24px;
}

.searchInput {
  font-size: 14px;
  background-color: #2e2e3a;
  border: 0;
  outline: none;
  color: #e0e0e0;
}

.searchBtn {
  font-size: 14px;
  background-color: #2e2e3a;
  border: 0;
  color: #e0e0e0;
  cursor: pointer;
}
