.header {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-content: center;
  padding: 0 20px;
  background-color: #535ca1;
  height: 70px;
}

.sidebarToggle {
  background-color: #535ca1;
  color: #fbfffa;
  border: 0;
  font-size: 24px;
  cursor: pointer;
}

.brand {
  font-weight: bold;
  text-decoration: none;
  color: #fbfffa;
  font-size: 24px;
}

@media screen and (min-width: 768px) {
  .header {
    padding: 0 30px;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    padding: 0 40px;
  }
}
