@font-face {
  font-family: "MyFont";
  src: local("MyFont"),
    url("./assets/fonts/fontawesome-webfont.ttf") format("truetype");
}

body {
  font-family: MyFont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: MyFont;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
